body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.BrainhubCarousel__container {
  border-top-left-radius: 1.75rem;
  border-top-right-radius: 1.75rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @media (min-width: 48em) {
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 0;
  }
}

